<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="icon" href="/images/logo.webp" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      #likebtn {
        color: red;
        background-color: red;
        transform: scale(1.3);
        transition: all 0.2s ease-in-out;
      }
    </style>
  </head>
  <body class="flex bg-white text-gray-800 min-h-screen">
    <!-- Sidebar -->
     <aside class="bg-stone-50 w-[100px] min-h-screen">
      <a href="/" class="m-20">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjv11rXUss8i4D6Z_aDIw7tt9qo2XIg0ZxOw&s"
          alt="insta"
          class="w-10 h-10 mx-auto mt-5 p-1.5"
        />
      </a>
      <a href="/home" class="text-black"><p class="text-center w-12 h-12 ml-6 ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M341.8 72.6C329.5 61.2 310.5 61.2 298.3 72.6L74.3 280.6C64.7 289.6 61.5 303.5 66.3 315.7C71.1 327.9 82.8 336 96 336L112 336L112 512C112 547.3 140.7 576 176 576L464 576C499.3 576 528 547.3 528 512L528 336L544 336C557.2 336 569 327.9 573.8 315.7C578.6 303.5 575.4 289.5 565.8 280.6L341.8 72.6zM304 384L336 384C362.5 384 384 405.5 384 432L384 528L256 528L256 432C256 405.5 277.5 384 304 384z"/></svg></p></a>
      <a href="/search"
        ><p class="text-center w-10 h-12 ml-7 mt-6"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376C296.3 401.1 253.9 416 208 416 93.1 416 0 322.9 0 208S93.1 0 208 0 416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></p></a>
       <p class="text-center w-10 h-12 ml-7 mt-6"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></p>
      <a href="/reel"
        ><svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-12 mt-4 ml-7" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M0 256a256 256 0 1 1 512 0 256 256 0 1 1 -512 0zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9l0 176c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"/></svg></a>
      <a href="/messages"
        ><svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 mx-auto mt-7" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M64 416L64 192C64 139 107 96 160 96L480 96C533 96 576 139 576 192L576 416C576 469 533 512 480 512L360 512C354.8 512 349.8 513.7 345.6 516.8L230.4 603.2C226.2 606.3 221.2 608 216 608C202.7 608 192 597.3 192 584L192 512L160 512C107 512 64 469 64 416z"/></svg></a>
      <a href="/likes"
  ><svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 mx-auto mt-7"viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M305 151.1L320 171.8L335 151.1C360 116.5 400.2 96 442.9 96C516.4 96 576 155.6 576 229.1L576 231.7C576 343.9 436.1 474.2 363.1 529.9C350.7 539.3 335.5 544 320 544C304.5 544 289.2 539.4 276.9 529.9C203.9 474.2 64 343.9 64 231.7L64 229.1C64 155.6 123.6 96 197.1 96C239.8 96 280 116.5 305 151.1z"/></svg></a>
      <a href="/postcreate"
        ><svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 mx-auto mt-4"viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM296 408L296 344L232 344C218.7 344 208 333.3 208 320C208 306.7 218.7 296 232 296L296 296L296 232C296 218.7 306.7 208 320 208C333.3 208 344 218.7 344 232L344 296L408 296C421.3 296 432 306.7 432 320C432 333.3 421.3 344 408 344L344 344L344 408C344 421.3 333.3 432 320 432C306.7 432 296 421.3 296 408z"/></svg></a>
      <a href="/profile"
        ><img
          src="https://media.istockphoto.com/id/1131620452/photo/rear-view-of-group-of-females-caucasian-friends-enjoying-at-the-sunset-with-ocean-in.jpg?s=612x612&w=0&k=20&c=cFfIdU8ewIjnh-qSgBuViqavmj7wY7qixWBu2NMoaF4="
          class="w-12 h-12 rounded-full mx-auto mt-8"
      /></a>

      <!-- Menu Button -->
      <div class="relative inline-block text-left mx-auto mt-5 w-10 ml-7">
        <a
          id="menuButton"
          class="w-10 h-10 flex items-center justify-center text-3xl cursor-pointer"
          >☰</a
        >
        <div
          id="dropdownMenu"
          class="hidden absolute left-0 bottom-full mb-2 w-56 bg-white border border-gray-200 rounded shadow-lg z-[50]"
        >
          <div class="py-1 text-l text-gray-700">
            <a href="#" class="flex px-4 py-2 hover:bg-gray-100">⚙️ Settings</a>
            <a href="#" class="flex px-4 py-2 hover:bg-gray-100"
              >🗂️ Your activity</a
            >
            <a href="#" class="flex px-4 py-2 hover:bg-gray-100">🔖 Saved</a>
            <a href="#" class="flex px-4 py-2 hover:bg-gray-100"
              >🌞 Switch appearance</a
            >
            <a href="#" class="flex px-4 py-2 hover:bg-gray-100"
              >❗ Report a problem</a
            >
            <div class="border-t my-2"></div>
            <a href="#" class="flex px-4 py-2 hover:bg-gray-100">🧵 Threads</a>
            <a href="#" class="flex px-4 py-2 hover:bg-gray-100"
              >Switch accounts</a
            >
            <a
              href="/logout"
              class="flex px-4 py-2 text-red-600 hover:bg-gray-100"
              >Log out</a
            >
          </div>
        </div>
      </div>
    </aside>

    <!-- Main Content -->
    <main class=" p-6 flex-1 overflow-auto">
      <!-- Story Ring -->
      <div class="relative w-20 h-20 mb-10">
        <div
          class="w-full h-full rounded-full p-1 bg-gradient-to-tr from-yellow-400 via-pink-500 to-purple-600"
        >
          <img
            src="https://media.istockphoto.com/id/1131620452/photo/rear-view-of-group-of-females-caucasian-friends-enjoying-at-the-sunset-with-ocean-in.jpg?s=612x612&w=0&k=20&c=cFfIdU8ewIjnh-qSgBuViqavmj7wY7qixWBu2NMoaF4="
            alt="Story"
            class="w-full h-full object-cover rounded-full border-2 border-white"
          />
        </div>
        <div
          class="absolute bottom-0 right-0 w-8 h-8 bg-blue-500 text-white rounded-full flex items-center justify-center border-2 border-white"
        >
          +
        </div>
      </div>

      <!-- Posts -->

          <div class="max-w-xl  space-y-10  flex-col">
        <div class="bg-white rounded-xl shadow p-4">
          <!-- Post Image -->
          <img
            src="https://media.istockphoto.com/id/1131620452/photo/rear-view-of-group-of-females-caucasian-friends-enjoying-at-the-sunset-with-ocean-in.jpg?s=612x612&w=0&k=20&c=cFfIdU8ewIjnh-qSgBuViqavmj7wY7qixWBu2NMoaF4="
            alt="Post Image"
            class="w-full rounded-lg"
          />

          <!-- Caption -->
          <div class="mt-2 text-gray-700 flex items-center gap-2">
            <span class="font-bold">James_khan</span>
            <p>This is a sample caption for the post.</p>
          </div>

          <!-- Actions -->
          <div class="flex space-x-2 mt-3">
            <button id="likeBtn">
              <svg
                id="heartIcon"
                xmlns="http://www.w3.org/2000/svg"
                class="w-7 h-7 text-gray-700"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.636l1.318-1.318a4.5 4.5 0 116.364 6.364L12 20.364 4.318 12.682a4.5 4.5 0 010-6.364z"
                />
              </svg>
            </button>

            <button id="commentBtn">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-6 "viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M512 240c0 132.5-114.6 240-256 240-37.1 0-72.3-7.4-104.1-20.7L33.5 510.1c-9.4 4-20.2 1.7-27.1-5.8S-2 485.8 2.8 476.8l48.8-92.2C19.2 344.3 0 294.3 0 240 0 107.5 114.6 0 256 0S512 107.5 512 240z"/></svg>
            </button>

            <button id="shareBtn">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-8 mr-5 " viewBox="0 0 576 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M536.4-26.3c9.8-3.5 20.6-1 28 6.3s9.8 18.2 6.3 28l-178 496.9c-5 13.9-18.1 23.1-32.8 23.1-14.2 0-27-8.6-32.3-21.7l-64.2-158c-4.5-11-2.5-23.6 5.2-32.6l94.5-112.4c5.1-6.1 4.7-15-.9-20.6s-14.6-6-20.6-.9L229.2 276.1c-9.1 7.6-21.6 9.6-32.6 5.2L38.1 216.8c-13.1-5.3-21.7-18.1-21.7-32.3 0-14.7 9.2-27.8 23.1-32.8l496.9-178z"/></svg>
            </button>
          </div>

          <!-- Comment Box -->
          <div
            id="btn-comment"
            class="w-full max-w-md border mt-4 border-gray-300 rounded-md shadow-sm hidden">
         
            <div class="p-4 space-y-4 max-h-96 overflow-y-auto">
              <!-- Sample Comments -->
              <div class="flex items-start space-x-3">
                <img
                  src="https://i.pravatar.cc/40?img=1"
                  class="w-10 h-10 rounded-full"
                />
                <div class="flex-1">
                  <p class="font-semibold text-sm">user_name</p>
                  <p class="text-sm">This is a sample comment ❤️</p>
                  <div class="text-xs text-gray-500 mt-1">2h ago</div>
                </div>
                <button class="text-gray-500 hover:text-red-500 text-sm">
                  ❤️
                </button>
              </div>
              <div class="flex items-start space-x-3">
                <img
                  src="https://i.pravatar.cc/40?img=2"
                  class="w-10 h-10 rounded-full"
                />
                <div class="flex-1">
                  <p class="font-semibold text-sm">another_user</p>
                  <p class="text-sm">🔥🔥🔥</p>
                  <div class="text-xs text-gray-500 mt-1">1h ago</div>
                </div>
                <button class="text-gray-500 hover:text-red-500 text-sm">
                  ❤️
                </button>
              </div>
            </div>
            <hr class="border-gray-300" />
            <div class="flex items-center px-4 py-3">
              <input
                id="commentInput"
                type="text"
                placeholder="Add a comment..."
                class="flex-1 text-sm outline-none"
              />
              <button
                id="postCommentBtn"
                class="text-blue-500 font-semibold text-sm ml-3 hover:opacity-70"
              >
                Post
              </button>
            </div>
            
          </div>
          <div id="shareModal" class="hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white w-96 rounded-xl p-4 shadow-lg relative">
      <!-- Close Button -->
      <button id="closeModal" class="absolute top-2 right-3 text-gray-500 hover:text-black text-xl font-bold">&times;</button>

      <h2 class="text-lg font-semibold mb-3">Share Post</h2>

      <!-- Search Input -->
      <input id="searchInput" type="text" placeholder="Search users..." class="w-full px-3 py-2 border border-gray-300 rounded-lg mb-4">

      <!-- User List -->
      <div id="userList" class="space-y-3 max-h-64 overflow-y-auto">
        <!-- Sample user profiles -->
        <div class="user-item flex items-center space-x-3" data-username="bharath">
          <img src="https://i.pravatar.cc/40?img=1" alt="User" class="w-10 h-10 rounded-full">
          <span class="font-medium">bharath</span>
        </div>
        <div class="user-item flex items-center space-x-3" data-username="ramu">
          <img src="https://i.pravatar.cc/40?img=2" alt="User" class="w-10 h-10 rounded-full">
          <span class="font-medium">ramu</span>
        </div>
        <div class="user-item flex items-center space-x-3" data-username="sita">
          <img src="https://i.pravatar.cc/40?img=3" alt="User" class="w-10 h-10 rounded-full">
          <span class="font-medium">sita</span>
        </div>
        <!-- Add more users as needed -->
      </div>
    </div>
  </div>

        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script>
      const menuBtn = document.getElementById("menuButton");
      const menu = document.getElementById("dropdownMenu");
      const likeBtn = document.getElementById("likeBtn");
      const heartIcon = document.getElementById("heartIcon");
      const shareBtn = document.getElementById('shareBtn');
    const shareModal = document.getElementById('shareModal');
    const closeModal = document.getElementById('closeModal');
    const searchInput = document.getElementById('searchInput');
    const userItems = document.querySelectorAll('.user-item');
      let commentTimeout = null;

      menuBtn.addEventListener("click", () => menu.classList.toggle("hidden"));
      window.addEventListener("click", (e) => {
        if (!menu.contains(e.target) && !menuBtn.contains(e.target)) {
          menu.classList.add("hidden");
        }
      });

      likeBtn.addEventListener("click", () => {
        heartIcon.classList.toggle("text-red-500");
        heartIcon.classList.toggle("text-gray-700");
      });
      // document.getElementById('commentBtn').addEventListener('click', () => {
      //   const commentBox = document.getElementById('btn-comment');
      //   commentBox.classList.remove('hidden');
      //   if (commentTimeout) clearTimeout(commentTimeout);
      //   commentTimeout = setTimeout(() => {
      //     commentBox.classList.add('hidden');
      //   }, 60000);
      // });
      document.getElementById('commentBtn').addEventListener('click', () => {
       const commentSection = document.getElementById('btn-comment');
        commentSection.classList.toggle('hidden'); // Toggle hidden class
      });

      document
        .getElementById("postCommentBtn")
        .addEventListener("click", () => {
          const input = document.getElementById("commentInput");
          const comment = input.value.trim();
          if (comment !== "") {
            alert(`Posted comment: ${comment}`); // Replace this with logic to add comment in UI
            input.value = "";
          }
        });
        document.getElementById('shareBtn').addEventListener('click',()=>{
          document.getElementById('shareSection').style.display='block';
        })
        shareBtn.addEventListener('click', () => {
      shareModal.classList.toggle('hidden');
    });

    closeModal.addEventListener('click', () => {
      shareModal.classList.add('hidden');
    });

    // Filter users on search
    searchInput.addEventListener('input', () => {
      const searchTerm = searchInput.value.toLowerCase();

      userItems.forEach(item => {
        const username = item.getAttribute('data-username');
        if (username.includes(searchTerm)) {
          item.style.display = 'flex';
        } else {
          item.style.display = 'none';
        }
      });
    });
    </script>
  </body>
</html>
